@import '../../index.scss';

.video-player {
	display: flex;
	flex-direction: column;
	
	max-height: 100%;
	overflow: hidden;
}

.fullscreen-player {
	display: flex;
	flex-direction: column;

	max-height: 100%;
	overflow: hidden;
	@media screen and (max-width: $pc-width) {
			justify-content: center;
			background-color: var(--color-dropdowns);
	}
}

.react-player {
	max-height: 100%;
	overflow: hidden;
	background-color: var(--color-dropdowns);
}

