.video-player {
	display: flex;
	flex-direction: column;
	
	max-height: 100%;
	overflow: hidden;
}

.fullscreen-player {
	display: flex;
	flex-direction: column;

	max-height: 100%;
	overflow: hidden;
}

.react-player {
	max-height: 100%;
	overflow: hidden;
	background-color: var(--color-dropdowns);
}

