@import '../../index.scss';

.register-background {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(to bottom, $color-top, $color-bottom);
    overflow: auto;
}

.register-form {
    gap: 3rem;
    height:auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1rem;
}

.register-form__main {
    width: fit-content;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.register-form__buttons {
    max-height: 100px;
    display: grid;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);

    min-width: 80%;
    width: fit-content;
    gap: var(--normal-padding);
    padding: 1rem;
}

.register-form__name {
    cursor: default;
    font-size: var(--ft-title) !important;
    opacity: 0.6;
    color: var(--text-color-light);
}

.register-form__inputs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.notification-placement {
    background: var(--color-dropdowns);
    padding: 2rem;
    border-radius: 1.5rem;
}