.sidebar {
    padding: var(--big-padding);
    box-sizing: border-box;
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: var(--huge-padding);
}

.disk-show {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--big-padding);

}

.selected {
    background-color: var(--main-color-100);
    scale: 1.05;
}

.disk-show-label {
    font-size: var(--ft-paragraph);
    display: flex;
    justify-content: center;
}

.disks {
    display: flex;
    flex-direction: column;
    gap: var(--normal-padding);
}

.under-disks {
    padding-top: var(--huge-padding);
}

.downloading {}

.work-in-progress {}

.container-text {
    display: flex;
    flex-direction: column;
    gap: var(--small-padding);
}
.big-text {
    font-size: var(--ft-body);
}
.small-text {
    font-size: var(--ft-small-text);
}

.our-name {
    background-color: var(--main-color-300);
    border-radius: var(--big-radius);
}