.bread-crumps {
    display: flex;
    flex-direction: row;
}

.bread-crumbs-container {
    background-color: rgba(157,171,182,20%);
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    width: 70%;
    border-radius: var(--small-radius);
}

.breadcrump-element:hover {
    background: rgba(157, 171, 182, 0.45);
    border-radius: var(--small-radius);
}