.profile {
    background-color: var(--main-color-300);
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var( --big-radius);

    gap: var(--normal-padding);
    padding: var(--normal-padding);
}