.profile {
    background-color: var(--color-selected);
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var( --big-radius);

    gap: var(--normal-padding);
    padding: var(--normal-padding);
    max-width: 100%;
    overflow: hidden;
}

.profile-picture {
    object-fit: cover;
    height: var(--ft-paragraph);
    width: var(--ft-paragraph);
    border-radius: var(--big-radius);
}