.controls-container {
	display: flex;
	flex-direction: column;
}

.controls {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}

$control-size: 40px;

.contorl-img {
	font-size: $control-size;
}

.rewind-container {
	font-size: $control-size;
	display: flex;
	flex-direction: row;
}

.start-stop-container {
	font-size: $control-size;
	display: flex;
	justify-content: center;
}

.volume-control {
	transform: rotate(-90deg);
  	transform-origin: left 0;
}

.speed-container {
	font-size: $control-size;
}

.volume-container {
	font-size: $control-size;
}

.fullscreen-container {
	font-size: $control-size;
}