.text-with-img {
    display: flex;
    flex-direction: column;
    gap: var(--normal-padding);
    border-radius: var(--big-radius);
    padding-left: var(--big-padding);
    padding-right: var(--big-padding);
    padding-top: var(--normal-padding);
    padding-bottom: var(--normal-padding);

    align-items: center;
    cursor: pointer;
}

.text-image {
    width: calc(var(--ft-paragraph));
    height: calc(var(--ft-paragraph));
}

.text-with-img-row {
    flex-direction: row;
}

.text-option{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-with-img {
    max-width: 100%;
    overflow: hidden
}
