 .file-show-line {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    
    justify-content: space-between;
    align-content: center;
    padding: 16px;
 }

.icon-placement {
    width: 25px;
    height: 25px;
}

.filename-with-date {
    display: flex;
    gap: 12px;
    flex-direction: row;
}

@media screen and (max-width: 1201px) {
  .filename-with-date {
    flex-direction: column;
  }
}

.icon {
  width: 2rem;
  height: 2rem;
}

.container-file-info {
  display: flex;
  flex-direction: row;
  
  gap: var(--big-padding);
  overflow: hidden;
  
}

.additional-functions-file  .size {
  display: flex;
  flex-direction: row;
}

.additional-functions-file {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: var(--big-padding);
}

.size {
  justify-content: end;
}
