@import '../../index.scss';

.file-show-line {
  gap: var(--normal-padding);
  max-width: 100%;
  width: 100%;
  height: 5.6rem;
  min-height: 5.6rem;
  display: grid;
  
  @media screen and (max-width: $pc-width) {
    grid-template-columns:  minmax(0, 3fr) minmax(0, 0.55fr) minmax(0, 0.8fr);
  }

  @media screen and (min-width: $pc-width) {
    grid-template-columns: minmax(0, 3fr) minmax(0, 2fr) minmax(0, 1fr) minmax(0, 2fr) minmax(0, 0.5fr);
  }

  justify-content: space-between;
  align-content: center;

  cursor: pointer;
 };

.icon-placement {
  position: relative;
  
  font-size: 2.5rem;
  width: 25px;
  height: 25px;
}

.filename-with-date {
  overflow: hidden;
  max-width: 100%;
  display: flex;
  gap: 12px;

  @media screen and (max-width: $pc-width) {
    flex-direction: column;
  }

  @media screen and (min-width: $pc-width) {
    flex-direction: row;
  }
}

.icon {
  width: 2rem;
  height: 2rem;
}

.container-file-info {
  display: flex;
  flex-direction: row;
  
  gap: var(--big-padding);
  overflow: hidden;
  
}

.additional-functions-file  .size {
  display: flex;
  flex-direction: row;
}

.additional-functions-file {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: var(--big-padding);
}

.size {
  justify-content: end;
}

.filename {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.file-show__author {
  object-fit: cover;
  height: var(--ft-paragraph);
  width: var(--ft-paragraph);
  border-radius: var(--big-radius);
}

.file-show__author-position {
  display: flex;
  justify-content: center;
  align-items: center;
}