.shared-modal {
    min-width:  250px;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: var(--big-padding);
    border-radius: var(--big-radius);
    padding-left: var(--big-padding);
    padding-right: var(--big-padding);
    padding-top: var(--normal-padding);
    padding-bottom: var(--normal-padding);

    background-color: var(--color-dropdowns);
    align-items: center;
}

.email-list {

}

.email-list::-webkit-scrollbar {
    width: 6px;
  }
  
/* Track */
.email-list::-webkit-scrollbar-track {
    border-radius: 2.5rem;
    background: #1E1B24;
}

/* Handle */
.email-list::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.6); 
    border-radius: 2.5rem
}

/* Handle on hover */
.email-list::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.4); 
}

.email-list__item {
    font-size: var(--ft-body);
    color: inherit;
    background: #103F76;
    border-radius: var(--small-radius) !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.email-list__item:hover {
    background: #0e3664;
}


.email-list__item-incorrect {
    font-size: var(--ft-body);
    color: inherit;
    border-radius: var(--small-radius) !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    background-color: #c12629;
}

.email-list__item-incorrect:hover {
    background: #7c1618;
}