.PdfPage {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
.pdf-list-page::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.pdf-list-page::-webkit-scrollbar-track {
  border-radius: 2.5rem;
  background: #1E1B24;
}

/* Handle */
.pdf-list-page::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.6); 
  border-radius: 2.5rem
}

/* Handle on hover */
.pdf-list-page::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.4); 
}