@import './index.scss';

.App {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
	background: linear-gradient(to bottom, $color-top, $color-bottom);
    color: var(--text-color-light);
    position: relative;
}


.color-background {
    background: linear-gradient(to bottom, 11344E, 700F49);
}
