@import '../../index.scss';

.settings-background {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, $color-top, $color-bottom);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.settings {
    width: 330px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5.8rem;
    padding: var(--huge-padding);
    justify-content: start;
}

.disk-connect-settings {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.text-row-settings {
    gap: var(--normal-padding);
    flex-direction: row;
}

.settings__disk {
    width: 100%;
}

.settings__paragraph-name {
    cursor: default;
    font-size: 2.9rem;
    opacity: 0.6;
    color: var(--text-color-light);
}

.settings__good-notification {
    color: #59C454;
    background: var(--color-dropdowns);
    padding: 2rem;
    border-radius: 1.5rem;
}

.settings__bad-notification {
    color: #D56C6E;
    background: var(--color-dropdowns);
    padding: 2rem;
    border-radius: 1.5rem;
}
